<div class="flex-container flex-direction-column">
  <app-filters class="flex-item" (filters)="filters = $event"></app-filters>
  <ng-container [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{ list: additionalInfo() }"></ng-container>
  <ng-container [ngTemplateOutlet]="listTemplate" [ngTemplateOutletContext]="{ list: errors(), additionalClasses: 'card-error' }"></ng-container>
  <app-report class="flex-item" *ngIf="filters" [filters]="filters" [(additionalInfo)]="additionalInfo" [(errors)]="errors"></app-report>
</div>

<ng-template #listTemplate let-list="list" let-additionalClasses="additionalClasses">
  <mat-card class="flex-item {{additionalClasses}}" appearance="outlined" *ngIf="list.length > 0">
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of list">{{ item }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
