/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.width-100 {
  width: 100%;
}

.flex-container {
  display: flex;
  gap: 10px;

  .flex-item {
    flex: 1;
  }

  &.flex-direction-column {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    .flex-item-large {
      margin-bottom: 25px;
    }
  }

  &.flex-direction-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .flex-item-large {
      margin-right: 25px;
    }
  }
}
